@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

/* ::slotted{
  background-color: blueviolet;
  color: white;
} */

@media (max-width: 800px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.4s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.previous,
.next {
  visibility: hidden;
}

.fou-nd {
  transition: 0.3s ease-in;
  z-index: 0;
  animation: slide 1.5s linear 1;
}

@keyframes slide {
  from {
    scale: 0.8;
    opacity: 0;
    transform: translateY(-70%) skew(100deg, 100deg);
  }

  to {
    transform: translateY(0%);
    opacity: 1;
    scale: 0.5;
    transform: skew(0deg, 0deg);
  }
}

.fou-nd2 {
  transition: 0.3s ease-out;
  z-index: 0;
  animation: slide2 1.5s linear 1;
}

@keyframes slide2 {
  from {
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 0.5;
  }
}

.load {
  animation: load 2.25s linear 1;
  transition: 0.5s ease-in-out;
}

@keyframes load {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

.metar {
  scale: 10;
}
